.logements-wrapper {
  display: flex;
  height: auto;
  width: 90%;
  background-color: #F6F6F6;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 12px auto;
  padding: 24px 0;
}

// .logement-box {
  // img {}
  // p{}
// }
// .opacity-div {}