.singleproduct {
  margin: 0 5%;

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 650px) {
      display: bloc;
    }
  }


  &__collapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    list-style: none;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr)!important;
      column-gap: 40px;
      list-style: none; 
    }  
  }
  
  .list-item { 
    @media screen and (max-width: 650px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
}

.group-elements-bottom {
  display: flex;
  justify-content: space-between;
}
.group-elements-left {
  display: block;
}

.group-elements-right {
  @media screen and (max-width: 650px)  {
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    // order: -1;
  }

}

.name-photo-wrapper {
  display: flex;
}

.title {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

.location {
  color: #ff6060;
}

.host-photo {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-top: 16px;
}

.host-name {
  margin-top: 33px;
  margin-right: 10px;
  color: #ff6060;
  width: 55px;
  text-align: right;
}

.tags-list-wrapper {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 16px;
}

.tag {
  background-color: #ff6060;
  border-radius: 20px;
  margin-right: 8px;
  text-align: center;
  padding: 8px 1rem;
  color: white;
  margin: 8px;
}

